/* Task: Pseudo Classes */
a[href] {
  color: var(--text-color);
}

a:visited {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: var(--color-light-grey);
}